.snake {
  animation: snake 10s cubic-bezier(0.725, 0.050, 0.380, 0.985) 0s infinite normal backwards;
}

@keyframes snake {

  0%,
  100% {
    transform: translateY(0) translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-2px) translateX(-4px);
  }

  20%,
  40%,
  60% {
    transform: translateY(2px) translateX(4px);
  }

  80% {
    transform: translateY(3.4px) translateX(3.4px);
  }

  90% {
    transform: translateY(-3.4px) translateX(-3.4px);
  }
}


.animate-light1 {
  animation: animate-light 80s ease-out infinite;
  transition: all 5000ms cubic-bezier(0.350, 1.105, 0.310, -0.220);
  transition-timing-function: cubic-bezier(0.350, 1.105, 0.310, -0.220);
  position: relative;
}

@keyframes animate-light {
  25% {
    transform: translateX(-1%) translateY(-1%);
  }

  30% {
    transform: translateX(-3%) translateY(-3%);

  }

  35% {
    transform: translateX(-4%) translateY(-4%);

  }

  40% {
    transform: translateX(-2%) translateY(-2%);

  }

  45% {
    transform: translateX(-1%) translateY(-3%);

  }

  50% {
    transform: translateX(0%) translateY(0%);
  }

  55% {
    transform: translateX(1%) translateY(1%);
  }

  60% {
    transform: translateX(-1%) translateY(0%);
  }

  65% {
    transform: translateX(1%) translateY(-1%);
  }

  70% {
    transform: translateX(0%) translateY(2%);
  }

  75% {
    transform: translateX(-1%) translateY(-1%);
  }

  80% {
    transform: translateX(1%) translateY(-3%);
  }

  85% {
    transform: translateX(0%) translateY(0%);
  }

  90% {
    transform: translateX(2%) translateY(1%);
  }

  100%,
  0% {
    transform: translateX(0%) translateY(0%) scale(1);
  }
}

.animate-light2 {
  animation: animate-light2 60s ease-out infinite;
  transition: all 5000ms cubic-bezier(0.350, 1.105, 0.310, -0.220);
  transition-timing-function: cubic-bezier(0.350, 1.105, 0.310, -0.220);
  position: relative;
}

@keyframes animate-light2 {
  25% {
    transform: translateX(-1%) translateY(-1%);
  }

  30% {
    transform: translateX(-3%) translateY(-3%);

  }

  35% {
    transform: translateX(-4%) translateY(-4%);

  }

  40% {
    transform: translateX(-2%) translateY(-2%);

  }

  45% {
    transform: translateX(-1%) translateY(-3%);

  }

  50% {
    transform: translateX(0%) translateY(0%);
  }

  55% {
    transform: translateX(1%) translateY(1%);
  }

  60% {
    transform: translateX(-1%) translateY(0%);
  }

  65% {
    transform: translateX(1%) translateY(-1%);
  }

  70% {
    transform: translateX(0%) translateY(2%);
  }

  75% {
    transform: translateX(-1%) translateY(-1%);
  }

  80% {
    transform: translateX(1%) translateY(-3%);
  }

  85% {
    transform: translateX(0%) translateY(0%);
  }

  90% {
    transform: translateX(2%) translateY(1%);
  }

  100%,
  0% {
    transform: translateX(0%) translateY(0%) scale(1);
  }
}

.animate-light3 {
  animation: animate-light3 50s ease-out infinite;
  transition: all 5000ms cubic-bezier(0.350, 1.105, 0.310, -0.220);
  transition-timing-function: cubic-bezier(0.350, 1.105, 0.310, -0.220);
  position: relative;
}

@keyframes animate-light3 {
  25% {
    transform: translateX(-1%) translateY(-1%);
  }

  30% {
    transform: translateX(-3%) translateY(-3%);

  }

  35% {
    transform: translateX(-4%) translateY(-4%);

  }

  40% {
    transform: translateX(-2%) translateY(-2%);

  }

  45% {
    transform: translateX(-1%) translateY(-3%);

  }

  50% {
    transform: translateX(0%) translateY(0%);
  }

  55% {
    transform: translateX(1%) translateY(1%);
  }

  60% {
    transform: translateX(-1%) translateY(0%);
  }

  65% {
    transform: translateX(1%) translateY(-1%);
  }

  70% {
    transform: translateX(0%) translateY(2%);
  }

  75% {
    transform: translateX(-1%) translateY(-1%);
  }

  80% {
    transform: translateX(1%) translateY(-3%);
  }

  85% {
    transform: translateX(0%) translateY(0%);
  }

  90% {
    transform: translateX(2%) translateY(1%);
  }

  100%,
  0% {
    transform: translateX(0%) translateY(0%) scale(1);
  }
}

.animate-light4 {
  animation: animate-light4 40s ease-out infinite;
  transition: all 5000ms cubic-bezier(0.350, 1.105, 0.310, -0.220);
  transition-timing-function: cubic-bezier(0.350, 1.105, 0.310, -0.220);
  position: relative;
}

@keyframes animate-light4 {
  25% {
    transform: translateX(-3%) translateY(-1%);
  }

  30% {
    transform: translateX(-1%) translateY(-3%);

  }

  35% {
    transform: translateX(-2%) translateY(-1%);

  }

  40% {
    transform: translateX(-4%) translateY(-3%);

  }

  45% {
    transform: translateX(0%) translateY(-1%);

  }

  50% {
    transform: translateX(0%) translateY(0%);
  }

  55% {
    transform: translateX(1%) translateY(1%);
  }

  60% {
    transform: translateX(-1%) translateY(0%);
  }

  65% {
    transform: translateX(1%) translateY(-1%);
  }

  70% {
    transform: translateX(0%) translateY(2%);
  }

  75% {
    transform: translateX(-1%) translateY(-1%);
  }

  80% {
    transform: translateX(1%) translateY(-3%);
  }

  85% {
    transform: translateX(0%) translateY(0%);
  }

  90% {
    transform: translateX(2%) translateY(1%);
  }

  100%,
  0% {
    transform: translateX(0%) translateY(0%) scale(1);
  }
}

.animate-light5 {
  animation: animate-light5 30s ease-out infinite;
  transition: all 5000ms cubic-bezier(0.350, 1.105, 0.310, -0.220);
  transition-timing-function: cubic-bezier(0.350, 1.105, 0.310, -0.220);
  position: relative;
}

@keyframes animate-light5 {
  25% {
    transform: translateX(-1%) translateY(-1%);
  }

  30% {
    transform: translateX(-3%) translateY(-3%);

  }

  35% {
    transform: translateX(-4%) translateY(-4%);

  }

  40% {
    transform: translateX(-2%) translateY(-2%);

  }

  45% {
    transform: translateX(-1%) translateY(-3%);

  }

  50% {
    transform: translateX(0%) translateY(0%);
  }

  55% {
    transform: translateX(1%) translateY(1%);
  }

  60% {
    transform: translateX(-1%) translateY(0%);
  }

  65% {
    transform: translateX(1%) translateY(-1%);
  }

  70% {
    transform: translateX(0%) translateY(2%);
  }

  75% {
    transform: translateX(-1%) translateY(-1%);
  }

  80% {
    transform: translateX(1%) translateY(-3%);
  }

  85% {
    transform: translateX(0%) translateY(0%);
  }

  90% {
    transform: translateX(2%) translateY(1%);
  }

  100%,
  0% {
    transform: translateX(0%) translateY(0%) scale(1);
  }
}


// .plus__button-wrap {
//   height: 100px;
//   overflow: hidden;

// }

.plus__ani {
  position: relative;
  // height: 100px;
  // overflow-y: hidden;
}

.animate-bg {
  height: 100px;
  width: 400px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 0 16px 16px 0;
  // box-shadow: 35px 0px 73px 0px #2F0743 inset;
  // box-shadow: 35px 0px 73px 0px #000 inset;


}

.animate-bg::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 8px;
  border-radius: 0 16px 16px 0;
  backdrop-filter: blur(30px);
  background: linear-gradient(90deg, #300744 0%, rgba(47, 7, 67, 0) 20%);
}

.animate-bg UL {

  position: absolute;
  z-index: -1;
  left: -1em;
  right: -1em;
  top: -1em;
  bottom: -1em;
  margin: auto;
  margin-right: 220px;
  padding: 0;
  width: 0;
  height: 0;
  list-style: none;
  -webkit-animation: 50s rotate infinite linear;
  animation: 50s rotate infinite linear;
  // filter: blur(3px);

}



.animate-bg LI,
.animate-bg LI:before,
.animate-bg LI:after {
  position: absolute;
  border: 0 solid transparent;
  border-width: 2.5em 20em;
  border-color: transparent rgba(254, 36, 254, 0.07);
  // background-color: #fff;
  width: 0;
  height: 0;
  font-size: 10px;
  // animation: scalebg 6s infinite linear;
  transition: all 10s linear;
  filter: blur(1px);
}



.animate-bg LI:last-child {
  display: none;
}

.animate-bg LI:nth-child(2) {
  display: none;
}

.animate-bg LI {
  left: -20em;
  top: 50%;
  margin-top: -2.5em;
  transform: rotate(0.1deg);
}

.animate-bg LI:before,
.animate-bg LI:after {
  left: -20em;
  top: -2.5em;
  display: block;
  content: "";
}

.animate-bg LI:before {
  transform: rotate(60deg);
  font-size: 10px;
}

.animate-bg LI:after {
  transform: rotate(-60deg);
  font-size: 10px;
}

.animate-bg LI:nth-child(2) {
  transform: rotate(15deg);

}

.animate-bg LI:nth-child(3) {
  transform: rotate(30deg);
}

.animate-bg LI:nth-child(4) {
  transform: rotate(45deg);
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

// @-webkit-keyframes font {
//   100% {
//     font-size: ;
//   }
// }

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

// @keyframes scalebg {
//   0% {
//     border-color: transparent rgba(254, 36, 254, 0.07);

//   }

//   50% {

//     border-color: transparent rgba(254, 36, 254, 0.1);
//   }

//   0% {
//     border-color: transparent rgba(254, 36, 254, 0.07);
//   }
// }

.plus {
  position: relative;
}

.plus::after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 66.44px;
  height: 47.527px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.25;
  background-blend-mode: screen;
  mix-blend-mode: screen;
  background: radial-gradient(circle, rgba(255, 52, 251, 0.86) 0%, rgba(178, 36, 175, 0.0001) 100%);
  filter: blur(5px);
  z-index: 1;
}

.plus::before {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 66.44px;
  height: 47.527px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.25;
  background-blend-mode: screen;
  mix-blend-mode: screen;
  background: radial-gradient(circle, rgba(255, 52, 251, 0.86) 0%, rgba(178, 36, 175, 0.0001) 100%);
  filter: blur(5px);
  z-index: 1;
}

.question {
  position: relative;
  z-index: 99;
  background-color: #441549;
}

.popup__flash-g {
  width: 1600px;
  height: 1000px;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -1;
  transform: translateX(-50%);
  background: radial-gradient(circle, rgba(255, 52, 251, 0.33) 0%, rgba(255, 52, 251, 0.01) 100%);
  filter: blur(10%);
}

.popup__lights {
  filter: blur(10%);
  // height: 200vh;
  object-fit: cover;
}

.page__two {
  display: none;
}

.main.move {
  .page__two {
    display: block;
  }
}

/*________________ANIMATE REELS-----------------------------------------*/
.first-reel,
.third-reel,
.second-reel,
.last-reel {
  transition: all 10s ease-out;
}



.one-reel-animate {
  .third-reel .swiper-wrapper {
    margin-top: 0;
    animation: third-reel-one 2s ease-out;
  }

  .last-reel .swiper-wrapper {
    margin-top: 0;
    animation: last-reel-one 2.3s ease-out;
  }
}

.one-reel-animate .slots__visard {
  display: none;
}

@keyframes third-reel-one {
  0% {
    margin-top: -1260px;
  }

  100% {}
}

@keyframes last-reel-one {
  0% {
    margin-top: -1620px;
  }

  100% {}
}




.two-reel {



  .slot__overlay.top {
    height: 170px !important;
  }

}

@keyframes swipe-bot {
  0% {
    margin-top: -360px;
  }

  50% {
    margin-top: -360px;
  }

  100% {
    margin-top: -180px;
  }
}

.two-reel-animate {
  .third-reel .swiper-wrapper {
    margin-top: 0;
    animation: third-reel-two 4s ease-out;
  }

  .last-reel .swiper-wrapper {
    margin-top: 0;
    animation: last-reel-two 4.3s ease-out;
  }


}

@keyframes third-reel-two {
  0% {
    margin-top: -3240px;
  }

  45% {
    margin-top: -1440px;
  }

  55% {
    margin-top: -1440px;
  }

  100% {}
}

@keyframes last-reel-two {
  0% {
    margin-top: -3240px;
  }

  45% {
    margin-top: -1620px;
  }

  55% {
    margin-top: -1620px;
  }

  100% {}
}

.three-reel {
  .first-reel .swiper-wrapper {
    // margin-top: -180px;
    animation: three-swipe 7.8s ease-out;
  }

  .second-reel .swiper-wrapper {
    // margin-top: -180px;
    animation: three-swipe 8.4s ease-out;
  }

  .third-reel .swiper-wrapper {
    margin-top: 0;
    animation: third-reel-three 10s ease-out;
  }

  .last-reel .swiper-wrapper {
    margin-top: 0;
    animation: last-reel-three 10.4s ease-out;
  }
}

@keyframes three-swipe {
  0% {
    margin-top: -540px;
  }

  30% {
    margin-top: -540px;
  }

  60% {
    margin-top: -360px;
  }

  66% {
    margin-top: -360px;
  }
}

@keyframes third-reel-three {
  0% {
    margin-top: -3060px;
  }

  6% {
    margin-top: -3060px;
  }

  18% {
    margin-top: -2160px;
  }

  29% {
    margin-top: -2160px;
  }


  40% {
    margin-top: -1080px;
  }

  50% {
    margin-top: -1080px;
  }

  70% {
    margin-top: 0;
  }



}

@keyframes last-reel-three {
  0% {
    margin-top: -3060px;
  }

  6% {
    margin-top: -3060px;
  }

  18% {
    margin-top: -2160px;
  }

  29% {
    margin-top: -2160px;
  }


  40% {
    margin-top: -1080px;
  }

  50% {
    margin-top: -1080px;
  }

  70% {
    margin-top: 0;
  }
}

.four-reel {
  .first-reel .swiper-wrapper {
    // margin-top: -360px;
    animation: four-swipe 10.5s ease-out;
  }

  .second-reel .swiper-wrapper {
    // margin-top: -360px;
    animation: four-swipe 10s ease-out;
  }

  .third-reel .swiper-wrapper {
    margin-top: 0;
    animation: third-reel-four 10s ease-out;
  }

  .last-reel .swiper-wrapper {
    margin-top: 0;
    animation: third-reel-four 10.5s ease-out;
  }
}

@keyframes four-swipe {
  0% {
    margin-top: -900px;
  }

  22% {
    margin-top: -900px;
  }

  48% {
    margin-top: -720px;
  }

  56% {
    margin-top: -720px;
  }

  73% {
    margin-top: -540px;
  }

  81% {
    margin-top: -540px;
  }
}

@keyframes third-reel-four {
  0% {
    margin-top: -3420px;
  }


  15% {
    margin-top: -2520px;
  }

  23% {
    margin-top: -2520px;
  }

  50% {
    margin-top: -1800px;
  }

  59% {
    margin-top: -1800px;
  }

  70% {
    margin-top: -1080px;
  }

  79% {
    margin-top: -1080px;
  }
}

.five-reel {
  .first-reel .swiper-wrapper {
    // margin-top: -540px;
    animation: five-swipe 19s ease-out;
  }

  .second-reel .swiper-wrapper {
    // margin-top: -540px;
    animation: five-swipe 19.5s ease-out;
  }

  .third-reel .swiper-wrapper {
    margin-top: 0;
    animation: third-reel-five 20s ease-out;
  }

  .last-reel .swiper-wrapper {
    margin-top: 0;
    animation: third-reel-five 20.5s ease-out;
  }
}

@keyframes five-swipe {
  0% {
    margin-top: -1260px;
  }

  18% {
    margin-top: -1260px;
  }

  35% {
    margin-top: -1080px;
  }

  45% {
    margin-top: -1080px;
  }

  60% {
    margin-top: -900px;
  }

  65% {
    margin-top: -900px;
  }

  80% {
    margin-top: -720px;
  }

  85% {
    margin-top: -720px;
  }


}

@keyframes third-reel-five {
  0% {
    margin-top: -8460px;
  }

  15% {
    margin-top: -6660px;
  }

  25% {
    margin-top: -6660px;
  }

  40% {
    margin-top: -4860px;
  }

  45% {
    margin-top: -4860px;
  }

  60% {
    margin-top: -3060px;
  }

  65% {
    margin-top: -3060px;
  }

  80% {
    margin-top: -1260px;
  }

  85% {
    margin-top: -1260px;
  }
}