@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'game';
@import 'animate';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

.header {
   padding: 16px 0;
   background: rgba(59, 15, 82, 0.40);
   backdrop-filter: blur(30px);

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__right {
      display: flex;
      align-items: center;
      gap: 0 16px;
   }

   &__item {
      display: flex;
      padding: 10px 20px 10px 12px;
      border-radius: 14px;
      background: rgba(85, 66, 121, 0.40);
      backdrop-filter: blur(30px);
      border: 1px solid #563670;
   }

   &__item-img {
      width: 40px;
      height: 40px;
      border-radius: 8px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 12px;
   }

   &__item-img.views {

      background: var(--secondary-yellow, #FFC83A);
      box-shadow: 0px 3px 0px 0px #2E2100, 0px 4px 7px 0px #FFDF8C inset;

      svg {
         box-shadow: 0px 2.4000000953674316px 3.6000001430511475px 0px #372905 inset;
      }
   }

   &__item-img.balance {
      background: #8747C9;
      box-shadow: 0px 3px 0px 0px rgba(32, 0, 65, 0.60), 0px 4px 7px 0px rgba(186, 120, 254, 0.60) inset;

   }

   &__item-info {
      display: flex;
      flex-direction: column;
      color: var(--white, #FFF);
      line-height: 130%;
   }

   .balance__heading,
   .views__heading {
      font-size: 14px;
      letter-spacing: -0.28px;
      opacity: 0.6;
   }

   .balance__value,
   .views__value {
      font-size: 22px;
      font-weight: 700;
      letter-spacing: -0.22px;
      text-transform: uppercase;
   }

}

.question,
.balance__add {
   display: flex;
   align-items: center;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border: 1.5px solid rgba(255, 200, 58, 0.15);
   background: linear-gradient(180deg, rgba(135, 116, 65, 0.30) 0%, rgba(135, 116, 65, 0.12) 100%);
   width: 40px;
   height: 40px;
   margin-left: 24px;
   border: 1px solid #6D4D4E;
}

.image__slider {
   position: relative;
   // max-width: 1000px;
   margin-top: 70px;
   margin-bottom: 40px;
}

.swiper-slide img {
   border-radius: 8px;
}

.swipe__buttons {
   position: relative;
   width: 1200px;
   margin: 0 auto;
   height: 96px;

}

.swiper-button-next {
   right: 10%;
   left: auto;

   img {
      transform: rotate(180deg);
   }
}

.swiper-button-prev {
   left: 10%;
   right: auto;
   z-index: 999;

}

.swiper-button-next::after,
.swiper-button-prev::after {
   font-size: 0;
}

.swiper-slide {
   width: 747px;
   height: 420.75px;
}

.swiper-slide.swiper-slide-active img {

   border-radius: 8px;
   opacity: 1;

}


.swiper-slide video {
   opacity: 0.5;
   transform: scale(0.8);
   transition: all 0.3s ease-in-out;
   cursor: pointer;
}

.swiper-slide.swiper-slide-active video {
   transform: scale(1);
   opacity: 1;
   transition: all 0.3s ease-in-out;
}

.swiper-wrapper {
   height: 562px !important;
}

.cta__block {
   display: flex;
   align-items: center;
   margin-top: 40px;
   border-radius: 16px;
   background: rgba(59, 15, 82, 0.40);

   /* Blur */
   backdrop-filter: blur(30px);
   height: 100px;
   padding: 12px 28px 12px 20px;
   max-width: 558px;
   margin: 0 auto;

   .views__value,
   .views__value-cta {
      font-size: 22px;
      font-weight: 700;
   }

   .views__value-cta {
      width: 90px;
   }

   .views__heading {
      color: var(--white, #FFF);
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: -0.28px;
      opacity: 0.6;
   }
}

.yellow {
   fill: var(--secondary-yellow, #FFC83A);
   box-shadow: 0px 14.971428871154785px 32.75px 0px #FFE895 inset, 0px -18.71428680419922px 10.29285717010498px -3.7428572177886963px rgba(224, 135, 0, 0.60) inset;
}

.plus {
   position: relative;
}

.value {
   position: absolute;
   z-index: 99;
   top: 50%;
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
   color: #6F4A02;
   font-size: 27.579px;
   font-weight: 700;
   letter-spacing: -0.276px;
   text-transform: capitalize;
   white-space: nowrap;
}

.arrows__btn {
   position: absolute;
   top: 0;
}

.go {
   position: relative;

   &__value {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      color: #51257E;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: -0.16px;
      text-transform: capitalize;
      z-index: 99;
   }

   img {
      border: 1px solid #31063F;
      border-radius: 50%;
   }
}

.go:active {
   position: relative;
   transform: scale(0.6);
   transition: all 0.3s ease-in-out;
}

.page__two,
.page__one {
   height: 100vh;
}

/*-----------SLOT---------------------------------------------------------------*/


.slot__block {
   display: flex;
   gap: 50px;
   height: 540px;
   position: relative;
   overflow: hidden;
   max-width: 995px;
   margin: 0 auto;
}

.slot__column-item {
   height: 180px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.slot__column.asd {
   transform: translate3d(-10%, 0, 0);
}


.swiper-wrapper.animate {
   animation: slot1 1s ease-in-out;
}

@keyframes slot1 {
   0% {
      transform: translate3d(0, -100%, 0);


   }

   100% {
      transform: translate3d(0, 0, 0);

   }
}

.popup {
   position: relative;

   &__bg {
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 170px;
      transform: translateX(-50%);
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
   }

   &__flash {
      position: absolute;
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
      pointer-events: none;
   }

   &__content {
      position: absolute;
      z-index: 3;
      left: 50%;
      top: 170px;
      transform: translateX(-50%);
      text-align: center;
      display: flex;
      flex-direction: column;
   }

   &__sutitle {
      display: inline-block;
      color: #FFA6E4;
      text-align: center;
      font-size: 14px;

      font-weight: 600;
      line-height: 130%;
      letter-spacing: -0.28px;
      margin-bottom: 16px;
   }

   &__paid {
      color: var(--white, #FFF);
      font-size: 42px;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: -0.42px;
      text-transform: uppercase;
      border-radius: 20px;
      border: 3px solid var(--secondary-yellow, #FFC83A);
      background: linear-gradient(180deg, rgba(255, 200, 58, 0.45) 0%, rgba(255, 200, 58, 0.00) 100%);
      padding: 16px 32px;
      width: 262px;
      margin: 0 auto 24px auto;
   }

   &__paid-value {
      color: var(--white, #FFF);
      font-family: Poppins;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 130%;
      /* 39px */
      letter-spacing: -0.3px;
      text-transform: uppercase;
      border-radius: 16px;
      border: 2px solid rgba(255, 166, 228, 0.80);
      background: linear-gradient(180deg, rgba(255, 166, 228, 0.35) 0%, rgba(255, 166, 228, 0.00) 100%);
      padding: 12px 24px;
      width: 189px;
      margin: 0 auto 30px auto;
   }

   &__getpaid {
      width: 108px;
      margin: 0 auto;
      height: 108px;
      border-radius: 50%;
      background-image: url(../images/getpaid.png);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      color: #6F4A02;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.2px;
      text-transform: capitalize;
      box-shadow: 0px 3px 2px 6px #7F366E;
   }

   &__lights {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
   }
}

.popup__lights {
   filter: blur(4px);
}

.popup {
   display: none;
}

.page__one {
   max-height: max-content;
   // overflow: hidden;
}

.main {
   max-height: 820px;
   // overflow: hidden;
   position: relative;

   .page__two {
      opacity: 0;
   }
}

.popup__flash-g {
   filter: blur(100px);
}

.main.move {

   // animation: move 0.8s ease-in-out;

   .page__two {
      opacity: 1;
   }

   .page__one {
      // margin-top: calc(-100vh - 100px);
      // margin-top: -100%;
      opacity: 0;
      pointer-events: none;
      animation: move 0.5s ease-in-out;
   }

   .slot-machine {
      margin-top: 184px;
   }

   .header {
      position: relative;
      z-index: 999;
   }
}

@keyframes move {
   0% {
      margin-top: 0;
      opacity: 1;
   }

   40% {
      opacity: 0;
   }

   100% {
      // margin-top: calc(-100vh - 100px);
   }
}

.slot__bottom {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   max-width: 995px;
   margin: 0 auto;

   &-item {
      color: #FFF;
      margin-top: 16px;
      font-size: 18px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: -0.36px;
      text-align: center;
   }
}

.page__two {
   position: relative;
}

.popup.act {
   display: block;
   animation: popup 0.5s ease-in;
}

.popup__inner {
   position: absolute;
   top: -100px;
   z-index: 99;
   left: 50%;
   transform: translateX(-50%);
}




@keyframes popup {
   0% {
      transform: scale(0.1) translateY(20%);
      opacity: 0.65;
   }

   100% {
      transform: scale(1) translateY(0%);
      opacity: 1;
   }
}

.plus:active {
   position: relative;
   transform: scale(0.6);
   transition: all 0.3s ease-in-out;
}

.button:active {
   position: relative;
   transform: scale(0.6);
   transition: all 0.3s ease-in-out;
}

.balance__value {
   width: 104px;
}

.header {
   .views__value {
      width: 96px;
   }
}

.balance__add:hover {
   transition: all 0.4s ease-in-out;
   background: linear-gradient(180deg, rgba(135, 128, 65, 0.3) 0%, rgba(135, 126, 65, 1) 100%);
}

video {
   width: 100%;
   height: auto;
   object-fit: cover;
}

.swiper-slide video {
   border-radius: 8px;
}


.popup__content {
   top: 170px;
}

.popup__heading-word {
   position: relative;
   margin-top: -20px;
   margin-bottom: 33px;
   font-weight: 700;
   font-size: 60px;
   letter-spacing: 0;
   line-height: 50px;
   display: flex;
   gap: 0 20px;
   width: 400px;
   // width: 100%;
   flex-wrap: wrap;


   .word {
      display: flex;
      flex-wrap: nowrap;
      text-transform: uppercase;
      color: #FFE34C;
   }

   .word span {
      position: relative;
      font-family: 'Balsamiq Sans', sans-serif;
      // text-shadow: 2px 2px 0px #CF9600,
      text-shadow: 2px 2px 0px #CF9600,
         -1px 2px 0px #CF9600,
         -2px -1px 0px #CF9600,
         // 2px 2px 0px #D49500,
         // 3px 3px 0px #BD5800,
         // -1px 1px 0px #BD5800,
         // 1px 3px 2px #BD5800,
         // 1px 4px 2px #E3BC1D,
         1px 3px 1px #F1DA1F,
         1.2px 4px 1px #CF9B15,
         1.4px 5px 1px #BC780F,
         1.5px 6px 1px #AA5709,
         1.6px 7px 1px #A24507,
         1.7px 8px 1px #A24507,
         2.8px 13px 0px #320443,
         // 1.9px 14px 10px rgba(16, 16, 16, 0.6),
         // 2px 16px 10px rgba(16, 16, 16, 0.6),
         // 2.1px 17px 10px rgba(16, 16, 16, 0.6);
   }

   // .word span::after {
   //    display: block;
   //    font-family: 'Balsamiq Sans', sans-serif;
   //    content: attr(title);
   //    position: absolute;
   //    left: 0;
   //    font-weight: 700;
   //    font-size: 60px;
   //    height: 50px;
   //    width: 10px;
   //    color: transparent;
   //    text-shadow: 0px 0px 0px #FFBA01,
   //       2px 2px 0px #C66F01,
   //       -2px -2px 0px #C66F01 !important;
   //    z-index: 1;
   //    top: 0;

   // }

   .word:last-child {
      margin: 0 auto;
   }

   .word:first-child {
      margin-left: auto;
   }

   .word:nth-child(2) {
      margin-right: auto;
   }
}

.v {
   transform: translate(0, 0) rotate(-9deg);
   color: #FFD31D;
}

.u {
   transform: translate(0, -5px) rotate(-9deg);
   color: #FFD31D;
}

.m {
   transform: translate(0, -12px) rotate(-5deg);
}

.o {
   transform: translate(0, -13px) rotate(0deg);

}


.j {
   transform: translate(0, -12px) rotate(4deg);
}

.e {
   transform: translate(0, -10px) rotate(6deg);
   position: relative;
}

.e::after {
   position: absolute;
   content: "";
   display: block;
   width: 120px;
   height: 40px;
   opacity: 0.61;
   background: radial-gradient(circle, rgba(255, 250, 174, 1) 0%, rgba(255, 250, 174, 0) 100%);
   filter: blur(18px);
   // bottom: -10px;
   top: -7px;
   border-radius: 50%;
   left: 70%;
   transform: translateX(-50%);
}

.t {
   transform: translate(0, -5px) rotate(9deg);
   color: #FFD31D;
}

.e2 {
   color: #FFD31D;
   transform: translate(0, 0) rotate(7deg);
}

.z {
   transform: translate(0, 27px) rotate(-7deg);
   color: #FFD31D;
}

.a {
   transform: translate(0, 20px) rotate(-7deg);
   color: #FFD31D;
}

.b {
   transform: translate(0, 7px) rotate(-1deg);
}

.r {
   transform: translate(0, 13px) rotate(-5deg);
}

.a2 {
   transform: translate(0, 9px) rotate(-4deg);
}

.l {
   transform: translate(0, 27px) rotate(8deg);
   color: #FFD31D;
}

.t2 {
   transform: translate(0, 10px) rotate(6deg);
}

.t3 {
   transform: translate(0, 20px) rotate(7deg);
   color: #FFD31D;
}

.o2 {
   position: relative;
   transform: translate(0, 8px) rotate(0deg);

}

.o2::after {
   position: absolute;
   content: "";
   display: block;
   width: 190px;
   height: 40px;
   opacity: 0.61;
   background: radial-gradient(circle, rgba(255, 250, 174, 1) 0%, rgba(255, 250, 174, 0) 100%);
   filter: blur(20px);
   bottom: -10px;
   border-radius: 50%;
   left: 30%;
   transform: translateX(-50%);
}

.a3 {
   color: #FFD31D;
   transform: translate(0, 14px) rotate(7deg);

}



.bg {
   top: 100px;
   position: absolute;
   z-index: -1;
}

.adst {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(50%, 50%);
}

.swiper-slide {
   position: relative;
}

.video-views-value {
   position: absolute;
   font-size: 0;
   font-weight: 700;
   color: #fff;
   left: 50%;
   top: 50%;
   transform: translate(50%, 50%);
   z-index: -1;
}


.slotwrapper {
   background: #2D0443;
}

.slot__overlay {
   position: absolute;
   z-index: 99;
   filter: blur(10%);
}

.slot-machine.one-reel {
   .slotwrapper {
      height: 180px;
   }

   .slot__overlay {
      display: none;
   }

   .slots__visard {
      top: 0;
   }
}

.slot-machine.two-reel {
   .slotwrapper {
      height: 360px;
   }

   .slot__overlay.bottom {
      display: none;
   }

   .slots__visard {
      bottom: 0;
   }
}

.reel {
   .swiper-slide {
      height: 180px !important;
      text-align: center;
      font-size: 27.579px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.276px;
      text-transform: capitalize;
      width: auto !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
         width: 160px;
         height: 90px;
         border-radius: 4px;
      }
   }

   .swiper-wrapper {
      height: auto !important;
   }
}

.reel:last-child {
   .swiper-wrapper {
      // animation: swipe 1s ease-out;
      margin-top: 0px;
   }
}

// @keyframes swipe {
//    0% {
//       margin-top: -1000px;
//    }

//    100% {
//       margin-top: 0px;
//    }
// }

.first-reel .swiper-slide {
   display: none;
}

.ing {
   display: block !important;
}

.second-reel .swiper-slide:nth-child(2n) {
   background-image: url(../images/content/circle.png);
   background-size: 124.52px 124.52px;
   background-position: center;
   background-repeat: no-repeat;
   color: #7302A9;
}

.second-reel .swiper-slide {
   background-image: url(../images/content/circle-2.png);
   background-size: 124.52px 124.52px;
   background-position: center;
   color: #96078F;
   background-repeat: no-repeat;

   background-blend-mode: hard-light;
   mix-blend-mode: hard-light;
}

.second-reel .swiper-slide:nth-child(3n) {
   background-image: url(../images/content/circle-3.png);
   background-size: 124.52px 124.52px;
   background-position: center;
   background-repeat: no-repeat;
   color: #06598F;
}

.third-reel .swiper-slide {
   background-image: url(../images/content/circle.png);
   background-size: 124.52px 124.52px;
   background-position: center;
   background-repeat: no-repeat;
   color: #7302A9;
}

.third-reel .swiper-slide:nth-child(3n) {
   background-image: url(../images/content/circle-2.png);
   background-size: 124.52px 124.52px;
   background-position: center;
   color: #96078F;
   background-repeat: no-repeat;
}

.third-reel .swiper-slide:nth-child(2n) {
   background-image: url(../images/content/circle-3.png);
   background-size: 124.52px 124.52px;
   background-position: center;
   background-repeat: no-repeat;
   color: #06598F;
}

.last-reel .swiper-slide:nth-child(3n) {
   background-image: url(../images/content/circle.png);
   background-size: 124.52px 124.52px;
   background-position: center;
   background-repeat: no-repeat;
   color: #7302A9;
}

.last-reel .swiper-slide:nth-child(2n) {
   background-image: url(../images/content/circle-2.png);
   background-size: 124.52px 124.52px;
   background-position: center;
   color: #96078F;
   background-repeat: no-repeat;
}

.last-reel .swiper-slide {
   background-image: url(../images/content/circle-3.png);
   background-size: 124.52px 124.52px;
   background-position: center;
   background-repeat: no-repeat;
   color: #06598F;
}





.swipe-bot {
   .first-reel .swiper-wrapper1 {
      display: flex !important;
      flex-direction: column !important;
   }
}


.slots__visard {
   pointer-events: none;
}



.first-reel,
.second-reel {
   .swiper-wrapper {
      display: block !important;
      // margin-top: -100%;
      height: max-content;
   }

   .swiper-wrapper1 {
      height: max-content;
      width: 100% !important;
   }
}

.first-reel,
.second-reel {
   display: flex;
   flex-direction: column;

   // .swiper-wrapper {
   //    // transition: all 3s ease-out;
   // }
}




.slot-videos {
   display: flex;
   margin-top: 40px;
   border-radius: 18px;
   border: 2px solid #2F143D;
   background-color: #1C012B;
   // max-width: 995px;
   width: fit-content;
   // margin-left: calc((100% - 997px)/2);
   margin: 40px auto 0 auto;

   &__item {
      width: 198px;
      // display: flex;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 140px;
      position: relative;

      img {
         width: 160px;
         height: 90px;
         border-radius: 4px;
      }

      span {
         position: absolute;
         background-image: url(../images/content/circle.png);
         background-repeat: no-repeat;
         background-size: cover;
         width: 50px;
         height: 50px;
         top: 10px;
         right: 10px;
         display: flex;
         align-items: center;
         flex-direction: column;
         justify-content: center;
         text-align: center;
         // color: #96078F;
         font-weight: 700;
         letter-spacing: -0.276px;
         text-transform: capitalize;
      }
   }
}

.slot-paid {
   width: fit-content;
   // margin-left: calc((100% - 995px)/2);
   display: flex;
   // margin-top: 20px;
   margin: 20px auto 0 auto;
   align-items: center;

   &__item {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
         border-radius: 16px;
         border: 2px solid rgba(255, 166, 228, 0.80);
         background: linear-gradient(180deg, rgba(255, 166, 228, 0.35) 0%, rgba(255, 166, 228, 0.00) 100%);
         color: var(--white, #FFF);
         font-size: 20px;
         font-weight: 700;
         line-height: 130%;
         letter-spacing: -0.3px;
         text-transform: uppercase;
         padding: 10px 19px;
      }
   }
}

.one-reel {
   .slots__visard {
      display: none !important;
   }
}

.slot-paid__item {
   opacity: 0;
   margin-top: -100px;
}

.slot-paid__item.act {
   opacity: 1;
   margin-top: 0px;
   animation: act 0.5s ease-out;
}

@keyframes act {
   0% {
      opacity: 0;
      margin-top: -100px;
   }
}

.slot-videos__item.act {
   transition: opacity 1s ease-out;
   opacity: 0.4;
}


.first-reel {
   // transition: all 5s ease-out;
   transition: all 5s cubic-bezier(0.110, 0.500, 0.550, 1.005);
   ;
}

.second-reel {
   // transition: all 5.5s ease-out;
   transition: all 5.5s cubic-bezier(0.110, 0.500, 0.550, 1.005);
   ;
}

.third-reel {
   // transition: all 6s ease-out;
   transition: all 6s cubic-bezier(0.110, 0.500, 0.550, 1.005);
}

.last-reel {
   // transition: all 6.5s ease-out;
   transition: all 6.5s cubic-bezier(0.110, 0.500, 0.550, 1.005);

}

.minus {
   background-color: #fe6863d5;
   width: 80px;
   height: 40px;
   margin-left: 10px;
   border-radius: 10px;
   color: #C20000;
   font-size: 18px;
   font-weight: 700;
   border: 3px solid #C20000;
}

.slotwrapper::after {
   position: absolute;
   width: 2px;
   height: 88%;
   background: rgba(211, 114, 255, 0.20);
   display: block;
   content: "";
   left: 240px;
   top: 50%;
   transform: translateY(-50%);
}

.slotwrapper::before {
   position: absolute;
   width: 2px;
   height: 88%;
   background: rgba(211, 114, 255, 0.20);
   display: block;
   content: "";
   right: 240px;
   top: 50%;
   transform: translateY(-50%);
}

.panel-body::before {
   position: absolute;
   width: 2px;
   height: 87%;
   background: rgba(211, 114, 255, 0.20);
   display: block;
   content: "";
   left: 50%;
   top: 50%;
   transform: translateY(-50%) translateX(-50%);
}

.dark-overlay {
   opacity: 0;
   pointer-events: none;
   display: none;
   position: absolute;
   left: 0;
   top: -100px;
   width: 100%;
   background-color: rgb(5, 2, 15);
   transform: scale(0.4);
}

.dark-overlay.visible {
   opacity: 0.65;
   transform: scale(1);
   display: block;
   transition: all 0.3s ease-out;
   z-index: 99;
}

.popup__inner {
   z-index: 100;
}

.popup__heading-word::after {
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   // display: block;
   display: none;
   content: "";
   width: 80%;
   height: 130%;
   fill: radial-gradient(#FFC83A 2.00%, #000 100%);
   // opacity: 0.31;
   background-blend-mode: screen;
   mix-blend-mode: screen;
   z-index: 99;
   background: radial-gradient(circle, #FFFAB0 0%, rgba(255, 200, 58, 0.00001) 100%);
   border-radius: 46%;
   opacity: 0.31;
   // fill: ;
   box-shadow: 0 0 110px #000;
   filter: blur(20px);
}


.blur {
   filter: blur(4px);
   position: relative;
}

.cta__block .views__heading {
   margin-bottom: 3px;
}


@media (min-width:1919px) {
   body {
      overflow: hidden;
   }
}

// .second-reel .swiper-wrapper,
.first-reel .swiper-wrapper {
   position: relative;
   padding-top: 180px;
}

// .second-reel .swiper-wrapper .swiper-slide:last-child,
.first-reel .swiper-wrapper .swiper-slide:last-child {
   // background-color: #fff !important;
   // display: none !important;
   // order: 1;
   min-width: 124.52px;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}