body {
  height: 100%;
  margin: 0;
  position: relative;
  cursor: none;

}

.mon {
  position: absolute;
  background-color: #fff;
  width: 40px;
  height: 40px;
  left: 1258px;
  top: 233px;
}

#curs {
  position: absolute;
  left: 0;
  top: 0;
}